@media (max-width: 850px) {
    .showcase {
        height: 400px;

        &-content {
            flex-direction: column;
            text-align: center;

            img {
                display: none;
            }
        }
    }
}